body {
    background-image: url("SB Street.png");
    background-repeat: no-repeat; 
    height: 100%;          
    background-size:cover;                                 

}

.nav-bar {
    background-color: rgba(0, 0, 0, 0.7);
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 60px;
    display: flex;
}

.logo {
    color:rgb(25, 165, 146);    
    margin-top: 18px;
    margin-left: 50px;
    font-size: 1.5rem;
    text-shadow: 0 0 10px rgb(25, 214, 189);
}

.logo span {
    color: rgb(16, 138, 175);
    text-shadow: 0 0 10px #01e1ff;
}

.options {
    list-style: none;
    gap: 50px;
    display: flex;
    margin-left: 90px;
    margin-top: 22px;
}

.options a {
    color:aliceblue;
    text-decoration: none;
    transition: 0.3s;
}

#about {
    margin-top: 100px;
    margin-left: auto;      
    margin-right: auto;
    background-color: rgba(102, 129, 216, 0.7); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    height: 350px;
    width: 500px;
}

.about {
    color:rgb(61, 211, 248);
    text-shadow: 0 0 19px #73efff;
    font-size: 2.5rem;
    text-align: center;
}

.about-website {
    color:rgb(132, 238, 203);
    justify-content: center;
    text-align: center;
}

.discover {
    margin-top: 150px;
    text-align: center;
    color: #abe5ff;
    font-size: 3.5rem;
    text-shadow: 0 0 10px #0047ab;
}

.places {
    display: flex;            
    justify-content: center;
    text-align: center;   
    gap: 20px;                 
    flex-wrap: wrap;    
    list-style: none;
    color:rgb(191, 255, 241);
    text-shadow: 0 0 7px #3d99c4;
    font-size: 2rem;
}

#contact {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-top: 125px;
}

.contact {
    color: rgb(18, 128, 91);
    text-shadow: 0 0 15px #73efff;
}

.copyright {
    color: beige;
}